CSS

/* Body style */
body {
font-family: Ariel, san-serif;
text-align: center;
background-colour: #f0f0f0;
}

/* Heading style*/
h1 {
colour: dark blue;
}

/*Paragraph style*/
p {
colour: black;
font-size: 18px;
}

/* Button style */
button {
background-colour: green;
colour: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-colour: darkgreen;
}

